
/* Homepage Website title ribbon rules */
.WebheaderHome
{
    color: rgb(76, 0, 252);
    background-color:rgb(255, 166, 1);
    text-align: center;
}
.titleLogo
{
    padding: 5px;
    display: flex; /*Creates the flex box Layout */
}
.titleLogo > div
{
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif; 
}

.Webtextbody
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;  
}
.subheader 
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Flex Cantainer for the website navigation menu */
.navMenuContainer
{
    border: 3px solid blue; /* Displays a blue solid border that is 3px thick  */
    display: flex; /*Creates the flex box Layout */
}
.navMenuContainer > div 
{
    text-align: center; /*Aligns the text of each div to the center of their flex boxes */
    flex: 1;   
}

/*Rules For The Website title ribbon on other pages other than the homepage*/
.genericSiteTitleRibbon
{
    background-color:rgb(255, 166, 1);
    font-family: Arial, Helvetica, sans-serif; 
}